<div class="row">
  <div class="col-md-4 offset-md-4">
    <p id="notice"><%= notice %></p>

    <h3>Overview</h3>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Server type</th>
          <td><%= @server_size.size_name %></td>
        </tr>
        <tr>
          <th scope="row">Model</th>
          <td><%= @server_size.model %></td>
        </tr>
        <tr>
          <th scope="row">CPU</th>
          <td><%= @server_size.cpu %></td>
        </tr>
        <tr>
          <th scope="row">CPU cores</th>
          <td><%= @server_size.cpu_cores %></td>
        </tr>
        <tr>
          <th scope="row">Memory(GB)</th>
          <td><%= @server_size.memory %></td>
        </tr>
        <tr>
          <th scope="row">Disk</th>
          <td><%= @server_size.disk %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_server_size_path(@server_size) %> |
    <%= link_to 'Back', server_sizes_path %>
  </div>
</div>