<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ip, "IP" %>
    <%= form.text_field :ip, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :sn, "SN" %>
    <%= form.text_field :sn, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :os, "OS" %>
    <%= form.text_field :os, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :purchase_time %>
    <%= form.date_select :purchase_time %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
