<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ip, "IP" %>
    <%= form.text_field :ip, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :server_size_id, "Server type" %>
    <%= form.select :server_size_id, ServerSize.all.collect { |s| [ s.size_name, s.id ] }, {}, { class: "custom-select" } %>
  </div>

  <div class="form-group">
    <%= form.label :sn, "SN" %>
    <%= form.text_field :sn, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :os, "OS" %>
    <%= form.text_field :os, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= form.label :purchase_time %>
      <div class="form-inline">
        <%= form.date_select :purchase_time, {}, { class: "custom-select" } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
