<div class="row">
  <div class="col-md-4 offset-md-2">
    <p id="notice"><%= notice %></p>

    <div class="card border-success mb-3" style="max-width: 20rem;">
      <div class="card-header">Server Overview</div>
      <div class="card-body">
        <h4 class="card-title"><%= @server.ip %></h4>
      </div>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Type</th>
          <td><%= link_to @server.server_size.size_name, @server.server_size %></td>
        </tr>
        <tr>
          <th scope="row">Serial number</th>
          <td><%= @server.sn %></td>
        </tr>
        <tr>
          <th scope="row">Operation system</th>
          <td><%= @server.os %></td>
        </tr>
        <tr>
          <th scope="row">Purchase time</th>
          <td><%= @server.purchase_time %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_server_path(@server) %> |
    <%= link_to 'Back', servers_path %> |
    <%= link_to 'New VM', new_server_vm_path(@server) %>
  </div>
</div>

<br>

<% if @vms.any? %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'servers/vm' %>
  </div>
</div>
<% end %>
