<div class="row">
  <div class="col-md-4 offset-md-4">
    <p id="notice"><%= notice %></p>
    
    <h3>Server Info</h3>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">IP</th>
          <td><%= @server.ip %></td>
        </tr>
        <tr>
          <th scope="row">SN</th>
          <td><%= @server.sn %></td>
        </tr>
        <tr>
          <th scope="row">OS</th>
          <td><%= @server.os %></td>
        </tr>
        <tr>
          <th scope="row">Purchase time</th>
          <td><%= @server.purchase_time %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_server_path(@server) %> |
    <%= link_to 'Back', servers_path %>
  </div>
</div>
