<%= form_with(model: vm, local: true) do |form| %>
  <% if vm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vm.errors.count, "error") %> prohibited this vm from being saved:</h2>

      <ul>
      <% vm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ip, "IP" %>
    <%= form.text_field :ip, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :vm_size_id %>
    <%= form.number_field :vm_size_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Vm.statuses.keys, {}, { class: "custom-select" } %>
  </div>

  <div class="form-group">
    <%= form.label :server_id %>
    <%= form.number_field :server_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
