<div class="row">
  <div class="col-md-4 offset-md-4">
    <p id="notice"><%= notice %></p>

    <h3>Overview</h3>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">VM type</th>
          <td><%= @vm_size.size_name %></td>
        </tr>
        <tr>
          <th scope="row">CPU cores</th>
          <td><%= @vm_size.cpu_cores %></td>
        </tr>
        <tr>
          <th scope="row">Memory(GB)</th>
          <td><%= @vm_size.memory %></td>
        </tr>
        <tr>
          <th scope="row">Storage(GB)</th>
          <td><%= @vm_size.storage %></td>
        </tr>
        <tr>
          <th scope="row">Disk type</th>
          <td><%= @vm_size.disk %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_vm_size_path(@vm_size) %> |
    <%= link_to 'Back', vm_sizes_path %>
  </div>
</div>
